body{
    overflow-x: hidden;
}




.bold{
    font-weight: bold;
}

.logo {
    width: 100px;
    overflow: hidden;
}


.banner{
    height: 83vh;
    width: 100vw;
    background-color: #3392a6;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-title{
    color: rgb(255, 250, 250);
    font-size: 100px;
    position: center;
    text-align: center;
    font-family: nunito;
    text-shadow: 2px 2px 5px #0b064d;
    font-weight: bold;
    margin-top: 25vh;
}
.banner-title-div{
    position: absolute;
    width: 100vw;
    
}
.banner-bg{
    width: 98.9vw;
    height: 85vh;
    position: absolute;
}


.service-icon-swimmer{
    color: #4D77FF;
    font-size: 3em;
}




.onzeZwemclub-intro{
    font-size: 1.2em;
}






.lessen-list-li{
    font-size: 1.2em;
}


.onzeZwemclub-intro-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #53585d;
}


.xander{
    color: #f6f9fe;
    text-decoration: none;
}
.xander:hover{
    color: #8eb3f4;
}





@media (max-width: 991.98px) {
    .banner{
        background-image: none;
        background: linear-gradient(90deg, rgb(44, 218, 231) 0%, rgba(0,194,255,1) 100%);
    }
}
@media (max-width: 610px) {
    .banner-title{
        font-size: 80px;
    }
}
@media (max-width: 490px) {
    .banner-title{
        font-size: 60px;
    }
}

button:hover{
    color: white;
}